@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #F0F0F0;
}

.example-button{
  display: flex;
  justify-content: center;
  background: rgb(86, 1, 245);
  color: white;
  font-size: 1.8rem;
  border-radius: 0.4rem;
  border: none;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
}